<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>

<h2>EDIT BOOK</h2>
<%= form_for(@book) do |f| %>
<p>Title:</p>
<%= f.text_field :title %>

<p>Comment:</p>
<%= f.text_area :body %>

<br>
<%= f.submit %>
<% end %>